main
    article
        h1 Donors Section
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, nemo! Maxime tempora provident quaerat, officiis corrupti aliquam repellendus iste, illo dicta ut fuga error consectetur. Vero ex inventore nisi quod earum nobis cupiditate rem iusto alias atque. Officiis optio ad, et porro distinctio sequi modi d
        a(href="/donors/get", style="color: red") Recent Donors 
    br
    br
    br
    article
        h1 Add new donor: 
        p In the next link, you will be able to add a new donor.
        br
        a(href="/donors/add", style="color: red") Add
        br
        h3 Instead, you can search for a Donor:
        br
        a(href="/donors/search", style="color: red") Search