main 
    article 
        h1 Search Section:
        form(method="post")
            h5 Type any information to lookup (CURP, e-mail, Medical certificate).
            br
            div
                input(type="text", class="form-input", name="searchParam", required)
            input(type="submit",class="form-submit", value="search")